apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: home
      defaultBucket: homeassistant
    secureJsonData:
      token: ecogarden-influx-token-2024
    isDefault: true
